.logo {
  width: 75px;
}
.main{
  background-color: #FF512F;
  margin: 25px 10px;
  padding: 10px;

}
.mainImage{
  width: 500px;
}
.headerText{
  color: white;
  font-size: 90px
}
.discriptionText{
  color: white;
  font-size: 20px
}
.buybutton{
  /*need to add details*/
}
.priceText{
  color: white;
  font-size: 20px
}
.detailsHead{
  color: #503226;
  font-size: 40px
}
.detailsBody{
  color: #957777;
  font-size: 20px
}
.recShoe{
  background-color: #FF512F;
  display: inline-block;
}
.recShoeImages{
  width: 300px;
}
.recShoeText{
  color: white;
  font-size: 30px
}
