.logo {
  width: 75px;
}
.main{
  background-color: #FF512F;
}
.mainImage{
  width: 500px;
}
.headerText{
  color: white;
  font-size: 90px
}
.discriptionText{
  color: white;
  font-size: 20px
}
.priceText{
  color: white;
  font-size: 20px
}
.detailsHead{
  color: #503226;
  font-size: 40px
}
.detailsBody{
  color: #957777;
  font-size: 20px
}
.recShoe{
  background-color: #FF512F;
}
.recShoeImages{
  width: 300px;
}
.recShoeText{
  color: white;
  font-size: 30px
}
